<main class="container-home">
    <section class="left">
        <h1>NO ketchup on pasta</h1>
        <h1><a href="/register">Sign our petition if you agree</a>
        </h1>
    </section>

    </div>
    <section class="right">


    </section>

</main>